* {
    margin: 0;
    padding: 0; /* Garante que o padding não aumente o tamanho total */
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background-color: white;
    padding: 15px 40px;
    border-bottom: 1px solid #e6e6e6;
}

/* CONTAINER DA NAVBAR */
.div_navbar {
    display: flex;
    justify-content: space-between;  /* LOGO À ESQ, LINKS À DIR */
    align-items: center;
    width: 100%;
}

/* LOGO + TEXTO À ESQUERDA */
.navbar_brand {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    text-decoration: none;
}

.imagem {
    width: 32px;
    height: 32px;
}

/* LINKS À DIREITA */
.navbar-links {
    display: flex;
    gap: 25px;
    justify-content: flex-end;   /* FICA REALMENTE NA DIREITA */
    align-items: center;
    width: auto;                 /* impede de ocupar espaço desnecessário */
}

/* Links */
.nav-item {
    cursor: pointer;
    padding: 5px;
    border: none;
    background: transparent;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: 0.2s;
}

.nav-item:hover {
    color: #b88d00;
}

/* Botão amarelo */
.btn-yellow {
    background-color: #f4c542;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: #222;
}

.btn-yellow:hover {
    background-color: #e4b834;
}


/* --- Hero Section --- */
.hero-section {
    position: relative;
    width: 100%;
}

.img-bg {
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: block;
    filter: brightness(0.9); /* Escurece levemente a foto para o texto destacar */
    box-shadow: 10px 10px 15px #bbb9b9;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    max-width: 600px;
    color: white;
    text-align: left;
    z-index: 10;
}

.hero-content h1 {
    font-size: 52px;        /* Aumentado para impactar */
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 20px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.6);
}

.hero-content h5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 35px;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
}

.btn-hero {
    font-size: 16px;
    padding: 14px 28px; /* Botão da hero geralmente é maior */
}

.anuncios{
    display: flex;
    flex-direction: row;
    gap: 35px;
    padding-left: 222px;
}

.card-img{
    border-radius: 15px;
    padding: 5px;
}

.titulo4{
    justify-content: center;
    padding-left: 450px;
}

.btn-primary:hover{
    background-color: #e4b834;
}